version: '2'
services:
  zookeeper:
    image: wurstmeister/zookeeper
    ports:
      - "2181:2181"
  kafka:
    image: wurstmeister/kafka
    ports:
      - "9092:9092"
    links:
      - zookeeper:zk
    environment:
      HOSTNAME_COMMAND: "hostname -i"
      KAFKA_ADVERTISED_PORT: 9092
      KAFKA_CREATE_TOPICS: "info:1:1,warning:1:1,error:1:1"
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "false"
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
  data-input:
    image: "data-input"
    environment:
      JAVA_OPTS: "-Ddataprocessing.datainput.http.port=${DATAPROCESSING_DATAINPUT_HTTP_PORT} -Ddataprocessing.kafka.server.host=kafka"
    ports:
      - "${DATAPROCESSING_DATAINPUT_HTTP_PORT}:${DATAPROCESSING_DATAINPUT_HTTP_PORT}"
    links:
      - kafka
